/* body {} */

/* 
ログインフォーム
*/
form {
    margin: 20px 15px;
}
.form-text {
    font-size: 20px;
    font-weight: bold;
}
.form-list {
    margin: 2px;
}
.form-title {}
/* .form-field {} */
.input-field {
    width: 200px;
}
.form-button {
    margin: 15px 0;
}
/* .button {} */
.link-text {
    margin: 2px;
    color: slategrey;
}
.form-link {
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
}

/* 
グリッドレイアウト
*/
.grid {
    display: flex;
}
.box {
    width: 200px;
    height: 100px;
    margin: 5px;
    border: 2px solid #333; 
    border-radius: 5%;
}
.grid-layout-1 {
    margin: 10px;
}
.box-1 {
    background-color: 	IndianRed;
}
.grid-layout-2 {
    margin: 10px;
}
.box-2 {
    background-color: skyblue;
}
.grid-layout-3 {
    margin: 10px;
}
.box-3 {
    background-color: DarkKhaki;
}