/* body {} */
.grid {
    display: flex;
}
.box {
    width: 200px;
    height: 100px;
    margin: 5px;
    border: 2px solid #333; 
    border-radius: 5%;
}
.grid-layout-1 {
    margin: 10px;
}
.box-1 {
    background-color: 	IndianRed;
}
.grid-layout-2 {
    margin: 10px;
}
.box-2 {
    background-color: skyblue;
}
.grid-layout-3 {
    margin: 10px;
}
.box-3 {
    background-color: DarkKhaki;
}